<h1>Solutions Overview</h1>
<dx-data-grid
  #solutionsGrid
  *ngIf="this.userService.currentDbUserWithTenant"
  [dataSource]="dataSourceSolutions"
  [columns]="dataGridColumns"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [sorting]="{ mode: 'multiple' }"
  [scrolling]="{ mode: 'virtual' }"
  [headerFilter]="{ visible: true }"
  class="solutions-grid"
  [loadPanel]="{ enabled: true }"
  [allowColumnReordering]="false"
  [remoteOperations]="{
    sorting: false,
    filtering: true,
    paging: true,
    groupPaging: true,
    grouping: true
  }"
  height="100%"
  (onToolbarPreparing)="onToolbarPreparingSolutionsGrid($event)"
>
  <div *dxTemplate="let cellInfo of 'typeCellTemplate'">
    <div class="card dx-card dx-theme-text-color" [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''"> 
      {{ cellInfo.value }}
    </div>
  </div>

  <div *dxTemplate="let cellInfo of 'versionCellTemplate'">
    <div class="card dx-card dx-theme-text-color" [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''">
      {{ cellInfo.value }}
    </div>
  </div>

  <div *dxTemplate="let cellInfo of 'nameCellTemplate'">
    <div class="card dx-card dx-theme-text-color" [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''">
      <i 
        *ngIf="cellInfo.data.WasDeleted != true"
        class="dx-icon-info clickable-icon at-icon"
        (click)="onClickSolutionInfo(cellInfo)"
      ></i>
      <i
        *ngIf="cellInfo.data.WasDeleted != true"
        class="dx-icon-folder clickable-icon at-icon"
        (click)="onClickOpenMakerPortal(cellInfo)"
      ></i>
      <i 
        *ngIf="(cellInfo.data | isPatch) && cellInfo.data.WasDeleted != true && (cellInfo.data | isPatchDeletable)"
        class="dx-icon-trash clickable-icon at-icon"
        (click)="onClickDeletePatch(cellInfo.data)"
      ></i>
      {{ cellInfo.value }}
    </div>
  </div>

  <div *dxTemplate="let cellInfo of 'environmentHeaderCellTemplate'">
        <i
      class="at-icon powercid-icon-einstellungen clickable-icon"
      title="configure deployment"
      (click)="onClickConfigureDeployment(cellInfo.column.environmentData)"
    ></i>
    <i
      *ngIf="cellInfo.column.environmentData.DeployUnmanaged == true"
      class="at-icon dx-icon-warning red-icon"
      title="WARNING: deployments to this environment are unmanged"
    ></i>
    {{ cellInfo.column.caption }}
  </div>

  <div *dxTemplate="let cellInfo of 'devEnvironmentCellTemplate'">
    <div
      *ngIf="
        getLastActionForEnvironment(cellInfo);
        else noActionAvailable;
        let lastAction
      "
    >
      <div
        *ngIf="lastAction.Result == 1"
        class="card dx-card dx-theme-text-color card-success"
        [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''"
      >
        <i
          *ngIf="cellInfo.data.WasDeleted != true"  
          class="dx-icon-info clickable-icon at-icon"
          title="show details"
          (click)="onClickActionInfo(lastAction)"
        ></i>
        <i
          *ngIf="cellInfo.data.WasDeleted != true"
          class="dx-icon-download clickable-icon at-icon"
          title="download managed solution"
          (click)="onClickDownloadSolution(cellInfo, lastAction)"
        ></i>
        <i
          *ngIf="cellInfo.data.WasDeleted != true"
          class="dx-icon-newfolder clickable-icon at-icon"
          (click)="onClickDeploySolution(cellInfo, true)"
          title="renew export"
        ></i>
        {{ lastAction.TypeNavigation.Type }}
        {{ lastAction.StatusNavigation.Status }}
        {{ lastAction.ResultNavigation?.Result }}
      </div>
      <div
        *ngIf="lastAction.Result != 1 && lastAction.Status != 3"
        class="card dx-card dx-theme-text-color card-in-progress"
      >
        <i
          class="dx-icon-info clickable-icon at-icon"
          title="show details"
          (click)="onClickActionInfo(lastAction)"
        ></i>
        <i
          *ngIf="autoRefreshInterval == null"
          class="dx-icon-refresh clickable-icon at-icon"
          title="start auto-refresh"
          (click)="onClickStartAutoRefresh(lastAction)"
        ></i>
        {{ lastAction.TypeNavigation.Type }}
        {{ lastAction.StatusNavigation.Status }}
        {{ lastAction.ResultNavigation?.Result }}
      </div>
      <div
        *ngIf="lastAction.Result != 1 && lastAction.Status == 3"
        class="card dx-card dx-theme-text-color card-error"
        [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''"
      >
        <i
          *ngIf="cellInfo.data.WasDeleted != true"
          class="dx-icon-info clickable-icon at-icon"
          title="show details"
          (click)="onClickActionInfo(lastAction)"
        ></i>
        <i
          *ngIf="cellInfo.data.WasDeleted != true"
          class="dx-icon-newfolder clickable-icon at-icon"
          (click)="onClickDeploySolution(cellInfo, true)"
          title="renew export"
        ></i>
        {{ lastAction.TypeNavigation.Type }}
        {{ lastAction.StatusNavigation.Status }}
        {{ lastAction.ResultNavigation?.Result }}
      </div>
    </div>
    <ng-template #noActionAvailable>
      <div class="card dx-card dx-theme-text-color card-ready" [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''">
        <span>
          <i
            *ngIf="cellInfo.data.WasDeleted != true"
            class="dx-icon-newfolder clickable-icon at-icon"
            (click)="onClickDeploySolution(cellInfo, true)"
            title="export only"
          ></i>
          not exported yet
        </span>
      </div>
    </ng-template>
  </div>

  <div *dxTemplate="let cellInfo of 'environmentCellTemplate'">
    <div *ngIf="canDeployToEnv(cellInfo) == false; else canDeploy">
      <div class="card dx-card dx-theme-text-color card-not-yet-available" [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''">
        via {{ this.previousEnvironmentName }}
      </div>
    </div>
    <ng-template #canDeploy>
      <div
        *ngIf="
          getLastActionForEnvironment(cellInfo);
          else noActionAvailable;
          let lastAction
        "
      >
        <div
          *ngIf="lastAction.Result == 1"
          class="card dx-card dx-theme-text-color card-success"
        >
          <i
            class="dx-icon-info clickable-icon at-icon"
            title="show details"
            (click)="onClickActionInfo(lastAction)"
          ></i>
          <i
            *ngIf="!lastAction.TargetEnvironmentNavigation.DeployUnmanaged && lastAction.Type == 2 && (lastAction.SolutionNavigation | isPatch) == false && $any(lastAction.SolutionNavigation).ApplyManually == true"
            class="at-icon powercid-icon-handcart clickable-icon at-icon"
            (click)="onClickDeploySolution(cellInfo, false, true)"
            title="apply upgrade"
          ></i>
          <i
            *ngIf="lastAction.TargetEnvironmentNavigation.ConnectionsOwner && (lastAction.Type == 3 || (lastAction.Type == 2 && (lastAction.SolutionNavigation | isPatch) == false && $any(lastAction.SolutionNavigation).ApplyManually == false))"
            class="at-icon powercid-icon-handcart clickable-icon at-icon"
            (click)="onClickDeploySolution(cellInfo, false, false, true)"
            title="enable flows"
          ></i>
          {{ lastAction.TypeNavigation.Type }}
          {{ lastAction.StatusNavigation.Status }}
          {{ lastAction.ResultNavigation?.Result }}
        </div>
        <div
          *ngIf="lastAction.Result != 1 && lastAction.Status != 3"
          class="card dx-card dx-theme-text-color card-in-progress"
        >
          <i
            class="dx-icon-info clickable-icon at-icon"
            title="show details"
            (click)="onClickActionInfo(lastAction)"
          ></i>
          <i
            *ngIf="lastAction.Type == 2"
            class="dx-icon-clear clickable-icon at-icon"
            title="cancel import"
            (click)="onClickCancelImport(lastAction)"
          ></i>
          <i
            *ngIf="autoRefreshInterval == null"
            class="dx-icon-refresh clickable-icon at-icon"
            title="start auto-refresh"
            (click)="onClickStartAutoRefresh(lastAction)"
          ></i>
          {{ lastAction.TypeNavigation.Type }}
          {{ lastAction.StatusNavigation.Status }}
          {{ lastAction.ResultNavigation?.Result }}
        </div>
        <div
          *ngIf="(lastAction.Result != 1 && lastAction.Status == 3)"
          [class.card-error-applying-upgrade] = "lastAction.Type === 3"
          class="card dx-card dx-theme-text-color card-error"
        >
          <i
            class="dx-icon-info clickable-icon at-icon"
            title="show details"
            (click)="onClickActionInfo(lastAction)"
          ></i>
          <i
            class="at-icon powercid-icon-handcart clickable-icon at-icon"
            (click)="onClickDeploySolution(cellInfo, false, lastAction.Type == 3, lastAction.Type == 4)"
            title="try deployment again"
          ></i>
          {{ lastAction.TypeNavigation.Type }}
          {{ lastAction.StatusNavigation.Status }}
          {{ lastAction.ResultNavigation?.Result }}
        </div>
      </div>
    </ng-template>
    <ng-template #noActionAvailable>
      <div class="card dx-card dx-theme-text-color card-ready" [ngClass]="cellInfo.data.WasDeleted == true ? 'deleted-patch' : ''">
        <span>
          <i
            *ngIf="cellInfo.data.WasDeleted != true"
            class="at-icon powercid-icon-handcart clickable-icon at-icon"
            (click)="onClickDeploySolution(cellInfo)"
            title="deploy here"
          ></i>
          deploy here
        </span>
      </div>
    </ng-template>
  </div>
</dx-data-grid>

<dx-popup
  *ngIf="isConfigureDeploymentPopupVisible"
  [width]="1000"
  height="auto"
  [showTitle]="true"
  title="Configure Deployment"
  [hideOnOutsideClick]="true"
  [(visible)]="isConfigureDeploymentPopupVisible"
  [maxHeight]="'90%'"
>
  <dx-scroll-view>
    <app-configure-deployment [application]="selectedApplication" [environment]="configureDeploymentEnvironment"></app-configure-deployment>
  </dx-scroll-view>
</dx-popup>

<dx-popup
  *ngIf="isActionDetailPopupVisible"
  [width]="700"
  height="auto"
  [showTitle]="true"
  title="Action Details"
  [hideOnOutsideClick]="true"
  [(visible)]="isActionDetailPopupVisible"
  [maxHeight]="'90%'"
>
  <dx-scroll-view>
    <app-action-detail [actionId]="actionId"></app-action-detail>
  </dx-scroll-view>
</dx-popup>

<dx-popup
  *ngIf="isSolutionDetailPopupVisible"
  [width]="700"
  height="auto"
  [showTitle]="true"
  [title]="solutionDetailPopupTitle"
  [hideOnOutsideClick]="false"
  [(visible)]="isSolutionDetailPopupVisible"
  [dragEnabled]="false"
  (onHiding)="onHiddenSolutionDetailPopup($event)"
  [maxHeight]="'90%'"
>
  <dx-scroll-view>
    <app-solution-detail
      [isAddUpgrade]="isAddUpgrade"
      [solution]="detailSolution"
      [application]="this.selectedApplication"
      (onSaveCompleted)="onSaveCompletedSolutionDetail($event)"
      (onRenamed)="onRenamedSolutionDetail($event)"
    ></app-solution-detail>
  </dx-scroll-view>
</dx-popup>
