<h1>Environments</h1>

<dx-data-grid
  id="gridContainer"
  [showRowLines]="true"
  [showBorders]="true"
  [dataSource]="dataSource"
  [allowColumnResizing]="true"
  (onToolbarPreparing)="onToolbarPreparingDataGrid($event)"
  [columnAutoWidth]="true"
  [width]="'100%'"
>
  <dxo-editing mode="row" [allowUpdating]="true" [useIcons]="true">
  </dxo-editing>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="false"
    placeholder="Search..."
  ></dxo-search-panel>
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [visible]="true" [showNavigationButtons]="true"></dxo-pager>
  <dxi-column
    dataField="OrdinalNumber"
    [width]="140"
    sortOrder="asc"
    [calculateSortValue]="ordinalNumberSortValue"
  ></dxi-column>
  <dxi-column dataField="Name" [allowEditing]="false"></dxi-column>
  <dxi-column
    dataField="BasicUrl"
    caption="Basic Url"
    [allowEditing]="false"
  ></dxi-column>
  <dxi-column
    dataField="IsDevelopmentEnvironment"
    caption="Development Environment?"
    [width]="200"
  ></dxi-column>
  <dxi-column
    dataField="ConnectionsOwner"
    caption="Connections Owner (Domainname)"
    [width]="300"
  ></dxi-column>
  <dxi-column dataField="MsId" caption="Id" [allowEditing]="false"></dxi-column>
  <dxi-column
    dataField="ModifiedBy"
    caption="Modified By"
    [calculateCellValue]="modifiedByFullName"
    [allowEditing]="false"
    [allowSearch]="false"
  ></dxi-column>
  <dxi-column
    dataField="ModifiedOn"
    caption="Modified On"
    dataType="datetime"
    format="dd.MM.yyyy HH:mm:ss"
    [allowEditing]="false"
  ></dxi-column>
</dx-data-grid>
