.treeview-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

:host ::ng-deep .form .button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 75px;
}

:host ::ng-deep .form .button-wrapper dx-button {
  margin-left: auto;
}

:host ::ng-deep .form .dx-button-has-icon .dx-button-content {
  padding: 4px !important;
}

:host ::ng-deep .form .dx-treeview-toggle-item-visibility {
  height: 38px;
}

.form {
  margin-top: 20px;
  flex-direction: row;
}

.drive-panel {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  font-size: 115%;
  font-weight: bold;
  border-right: 1px solid rgba(165, 165, 165, 0.4);
  height: 100%;
  width: 50%;
}

.drive-panel:last-of-type {
  border-right: none;
}

.drive-header {
  margin-bottom: 10px;
}
