::ng-deep .dx-treeview-node.dx-state-selected, ::ng-deep .dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-item {
  color:white !important;
  background-color: #a3cc54 !important;
}

::ng-deep .dx-treeview-node{
  padding: 0;
  border-top: 1px solid hsla(0,0%,87%,.2);
}

::ng-deep .dx-treeview-item{
  padding: 10px 20px;
}

::ng-deep .dx-treeview-node[aria-level="2"] .dx-treeview-item{
  padding-left: 30px;
}

::ng-deep .dx-treeview-toggle-item-visibility {
  right: 10px;
  left: auto;
  height: 42px;
  transform: scaleX(-1);
}


#legal-links{
  color: #333333;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  line-height: 200%;    
}

#legal-links a{
  color: inherit;
  text-decoration: none;
  width: 50%;
  display: flex;
  justify-content: center;
}

#legal-links a:hover{
  background-color: rgba(191, 191, 191, .15);
}


#legal-links p{
  margin: 0;
}

#footer {
  position: absolute;
  bottom: 0;
}

#apptech-logo{
  width: 100%;
  height: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 500%;
  height: 100%;
  box-sizing: border-box;
}
:host .menu-container {
  min-height: 500%;
  flex: 1;
}
