<dx-data-grid
  id="gridContainer"
  [showRowLines]="true"
  [showBorders]="true"
  [dataSource]="dataSource"
  [allowColumnResizing]="true"
  (onToolbarPreparing)="onToolbarPreparingDataGrid($event)"
  [columnAutoWidth]="true"
  [width]="'100%'"
>


<dxi-column dataField="Application" [allowEditing]="false"></dxi-column>
<dxi-column dataField="DisplayName" [allowEditing]="false"></dxi-column>
<dxi-column dataField="MsId" [allowEditing]="false"></dxi-column>
<dxi-column dataField="Id" [allowEditing]="false"></dxi-column>
<dxi-column dataField="ModifiedBy" [allowEditing]="false"></dxi-column>
<dxi-column dataField="ModifiedOn" [allowEditing]="false"></dxi-column>

</dx-data-grid>
