<h1>Users</h1>

<dx-data-grid
  id="gridContainer"
  [rowAlternationEnabled]="false"
  [showRowLines]="true"
  [showBorders]="true"
  [dataSource]="dataSourceUsers"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [width]="'100%'"
  (onToolbarPreparing)="onToolbarPreparingDataGrid($event)"
>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-state-storing [enabled]="true" storageKey="atPowerCIDPortal_Users_GridState"></dxo-state-storing>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="false"
    placeholder="Search..."
  ></dxo-search-panel>
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [visible]="true" [showNavigationButtons]="true"></dxo-pager>

  <dxi-column 
    dataField="Firstname"    
    sortOrder="asc" 
    [sortIndex]="0"
    caption="First Name"
  ></dxi-column>
  <dxi-column 
    dataField="Lastname" 
    caption="Last Name"
    sortOrder="asc" 
    [sortIndex]="1"
  > </dxi-column>
  <dxi-column dataField="Email"></dxi-column>
  <dxi-column 
    dataField="MsId" 
    caption="Azure AD Id"
  ></dxi-column>
  <dxi-column type="buttons">
    <dxi-button
      hint="Manage roles"
      icon="card"
      [onClick]="onClickEditRoles"
    ></dxi-button>
    <dxi-button
      hint="Manage permissions"
      icon="key"
      [onClick]="onClickEditPermissions"
    ></dxi-button>
    <dxi-button
      hint="Delete user"
      icon="trash"
      [onClick]="onClickDeactivateUser"
    ></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  #popupPermissionEnvironments
  *ngIf="isEditPermissionsPopupVisible"
  [width]="480"
  height="auto"
  [showTitle]="true"
  [title]="
    'Manage Permissions (' +
    currentSelectedUser.Firstname +
    ' ' +
    currentSelectedUser.Lastname +
    ')'
  "
  [hideOnOutsideClick]="false"
  [(visible)]="isEditPermissionsPopupVisible"
  [maxHeight]="'90%'"
>
  <div id="hint-permissions">
    Select which Environments
    <i
      >{{ currentSelectedUser.Firstname }} {{ currentSelectedUser.Lastname }}</i
    >
    could import to.
  </div>
  <dx-list
    [dataSource]="dataSourceEnvironments"
    [height]="'100%'"
    selectionMode="all"
    selectAllMode="allPages"
    [showSelectionControls]="true"
    [selectedItemKeys]="selectedItemKeysPermissionEnvironments"
    displayExpr="Name"
    (onSelectionChanged)="onSelectionChangedPermissionEnvironments($event)"
    (onContentReady)="onContentReadyPermissionEnvironmentList($event)"
  >
  </dx-list>
</dx-popup>

<dx-popup
  *ngIf="isEditRolesVisible"
  [width]="480"
  height="auto"
  [showTitle]="true"
  [title]="
    'Manage Roles (' +
    currentSelectedUser.Firstname +
    ' ' +
    currentSelectedUser.Lastname +
    ')'
  "
  [hideOnOutsideClick]="false"
  [(visible)]="isEditRolesVisible"
>
  <div id="hint-permissions">A higher role contains all the rights of the lower roles. Therefore, only one role needs to be assigned.</div>
  <div class="dx-fieldset">
    <div *ngFor="let roleName of appRoleNames | keyvalue">
      <div class="dx-field">
        <div class="dx-field-label">{{roleName.value}}</div>
        <div class="dx-field-value">
          <dx-check-box 
            [disabled]="roleName.key == 'admin'"
            [value]="this.currentSelectedUserRoles | hasUserRole: roleName.key"
            (onValueChanged)="onValueChangedRoleAssignment($event, roleName.key)"
          ></dx-check-box>
        </div>
        <div *ngIf="roleName.key == 'admin'" class="hint-role-sync">
          This role is in sync with the app ownership - <a href="https://github.com/appliedtechnologies/PowerCIDPortal/wiki/Setup-and-maintenance-of-a-tenant#unilateral-synchronization-of-ownership-and-administrator-role" target="_blank">more info.</a>
        </div>  
      </div>      
    </div>
  </div>
</dx-popup>
