<dx-load-panel 
  [visible]="this.showLoading"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  shadingColor="rgba(0,0,0,0.4)"
  [message]="this.loadingMessage">
</dx-load-panel>

<div id="app-wrapper">
  <app-header
  class="layout-header"
  [menuToggleEnabled]="true"
  (menuToggle)="menuOpened = !menuOpened;"
  title="{{appInfo.title}}">
  </app-header>

  <dx-drawer 
    class="layout-body"
    position="before"
    [openedStateMode]="menuMode"
    [revealMode]="menuRevealMode"
    [minSize]="minMenuSize"
    [(opened)]="isDrawerOpen">

    <app-side-navigation-menu
    [compactMode]="!menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()">
    </app-side-navigation-menu>

    <div *dxTemplate="let data of 'template'" id="drawer-template">
      <div id="drawer-content">
        <a href="https://www.appliedtechnologies.de/" target="_blank" title="applied technologies Homepage" rel="noopener noreferrer"><img id="apptech-logo" src="../assets/logos/at-logo-white.svg" alt="applied technologies GmbH Logo" /></a>
        <div id="legal-links">
          <p>v{{verion}}</p>
          <a href="https://www.appliedtechnologies.de/impressum/" target="_blank" rel="noopener noreferrer">Imprint</a>
          <a href="https://www.appliedtechnologies.de/datenschutzerklaerung/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </div>       
      </div> 
    </div>
    <dx-scroll-view id="content" class="dx-theme-background-color" [showScrollbar]="'always'">
        <div id="router-outlet-wrapper">
          <router-outlet></router-outlet>
        </div>
    </dx-scroll-view>
  </dx-drawer>
</div>
