#app-wrapper{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#drawer-template{
    width: 220px;
    height: calc(100vh - 46px);
}

#drawer-content{
    background-color: #efefef;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#apptech-logo{
    margin: 15px 15px 5px;
}

::ng-deep #welcome-user{
    font-size: 14px;
    margin-right: 10px;
}

#legal-links{
    color: #333333;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    line-height: 200%;    
}

#legal-links a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

#legal-links p{
    margin: 0;
}

#legal-links a:hover{
    background-color: rgba(191, 191, 191, .15);
}

::ng-deep #header-toolbar.dx-toolbar {
    background-color: rgba(4,100,148);
    color: white;
}

::ng-deep .dx-toolbar {
    background-color: rgba(191,191,191,.15);
    padding: 5px 10px;
}

/* ::ng-deep .dx-list-item-icon-container, ::ng-deep .dx-toolbar-before {
    width: 36px;
    padding-right: 0px !important;
    text-align: center;
} */
 
/* ::ng-deep .dx-list-item-content {
    padding-left: 10px !important;
} */

::ng-deep .dx-drawer-expand.dx-drawer-right .panel-list {
    float: right;
}

/* ::ng-deep .panel-list .dx-list-item {
    color: #333333;
    border-top: 1px solid rgba(221, 221, 221, .2);
}

::ng-deep .panel-list .dx-list-item-selected {
    color:white !important;
    background-color: #a3cc54 !important;
}

::ng-deep .panel-list .dx-list-item .dx-icon {
    color: #333 !important;
} */

/* ::ng-deep .panel-list .dx-list-item-selected .dx-icon, ::ng-deep .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active .dx-icon  {
    color: white !important;
} */

::ng-deep .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
}

::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}

::ng-deep .option {
    margin-top: 10px;
    display: inline-block;
    margin-right: 50px;
}

::ng-deep label {
    font-weight: bold;
}

::ng-deep #content {
    height: calc(100% - 46px);
}

::ng-deep #content h2 {
    font-size: 26px;
}

::ng-deep #main-menu .dx-empty-message{
    color: white;
}


::ng-deep #router-outlet-wrapper{
    padding: 10px 20px;
}

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}
