<dx-form id="form" [(formData)]="solution" [readOnly]="!this.isAdd">
  <dxi-item itemType="group" cssClass="first-group" [colCount]="1">
    <dxi-item dataField="Name" [isRequired]="this.isAdd">
      <div *dxTemplate>
        <dx-text-box 
          #textBoxName
          [value]="this.solution.Name"
          [readOnly]="false"
          (onFocusOut)="onFocusOutSolutionName($event)">
        </dx-text-box>
      </div>
      <dxi-validation-rule type="stringLength" [max]="100" message="Name must not be longer than 100 characters."> </dxi-validation-rule>
      <dxi-validation-rule *ngIf="this.isAdd" type="required" message="A name must be entered."> </dxi-validation-rule>
    </dxi-item>
    <dxi-item [isRequired]="this.isAdd" [label]="{ text: 'Application' }">
      <div *dxTemplate>
        <dx-text-box [value]="this.application?.Name" [readOnly]="true">
        </dx-text-box>
      </div>
    </dxi-item>
    <dxi-item dataField="UniqueName" *ngIf="!this.isAdd"></dxi-item>

    <dxi-item
      dataField="UrlMakerportal"
      *ngIf="!this.isAdd"
      [label]="{ text: 'URL Portal' }"
    ></dxi-item>
    <dxi-item dataField="Version" *ngIf="!this.isAdd"></dxi-item>
    <dxi-item dataField="Description">
      <div *dxTemplate>
        <dx-text-area 
          #textAreaDescription
          [value]="this.solution.Description"
          height="100"
          [readOnly]="false"
          (onFocusOut)="onFocusOutSolutionDescription($event)">
        </dx-text-area>
      </div>
      <dxi-validation-rule type="stringLength" [max]="5000" message="Description must not be longer than 5000 characters."> </dxi-validation-rule>
    </dxi-item>
    <dxi-item
      editorType="dxCheckBox"
      dataField="ApplyManually"
      *ngIf="isUpgrade || isAddUpgrade"
    ></dxi-item>
    <dxi-item
      editorType="dxCheckBox"
      dataField="OverwriteUnmanagedCustomizations"
    ></dxi-item>
    <dxi-item
      editorType="dxCheckBox"
      dataField="EnableWorkflows"
    ></dxi-item>
  </dxi-item>

  <dxi-item
    [visible]="this.isAdd"
    itemType="button"
    horizontalAlignment="left"
    [buttonOptions]="buttonOptionsSaveAdd"
  ></dxi-item>

  <dxi-item
    *ngIf="!this.isAdd"
    itemType="group"
    cssClass="second-group"
    caption="History"
    [colCount]="2"
  >
    <dxi-item [label]="{ text: 'Created by' }">
      <div *dxTemplate>
        <dx-text-box
          value="{{this.solution.CreatedByNavigation | fullname}}"
        >
        </dx-text-box>
      </div>
    </dxi-item>
    <dxi-item
      dataField="CreatedOn"
      [editorOptions]="{
        displayFormat: 'dd.MM.yyyy HH:mm:ss'
      }"
      [label]="{ text: 'Created on' }"
    ></dxi-item>
    <dxi-item [label]="{ text: 'Modified by' }">
      <div *dxTemplate>
        <dx-text-box value="{{this.solution.ModifiedByNavigation | fullname}}">
        </dx-text-box>
      </div>
    </dxi-item>
    <dxi-item
      dataField="ModifiedOn"
      [editorOptions]="{
        displayFormat: 'dd.MM.yyyy HH:mm:ss'
      }"
      [label]="{ text: 'Modified on' }"
    ></dxi-item>
  </dxi-item>
</dx-form>
