<dx-button
  text="Login"
  width="100%"
  type="success"
  stylingMode="contained"
  [visible]="!isLoggedIn"
  icon="at-icon powercid-icon-benutzer"
  (onClick)="login()"
></dx-button>

<div *ngIf="isLoggedIn" class="flex-container">
  <div *ngIf="user" class="flex-container">
    <div>
      <p><strong>First Name: </strong> {{user?.Firstname}}</p>
      <p><strong>Last Name: </strong> {{user?.Lastname}}</p>
      <p><strong>Email: </strong> {{user?.Email}}</p>
      <p><strong>Id: </strong> {{user?.MsId}}</p>
      <p><strong>Tenant: </strong> {{user?.TenantNavigation.Name}}</p>
      <p><strong>Roles: </strong> {{roles}}</p>
      <p><strong>Environments (import permission): </strong>{{allowedEnv}}</p>  
    </div>
    <dx-button
      text="Reset the settings of the grids"
      type="success"
      stylingMode="contained"
      icon="at-icon powercid-icon-reset"
      (onClick)="onClickResetGridSettings($event)"
    ></dx-button>

    <div *ngIf="!roles" class="hint-no-roles">
      <strong>You don't have a role yet.</strong> A PowerCID Portal administrator in your organization can assign you a role. Please log out and log back in to update your roles afterwards.
    </div>

    <app-history *ngIf="roles" [userId]="this.user?.Id" class="flex-container"></app-history>
  </div>
</div>
