/*!
 * Icon Font atPowerCID
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: "atPowerCID";
  src: url("../fonts/atPowerCID.eot");
  src: url("../fonts/atPowerCID.eot?#iefix") format("embedded-opentype"),
  url("../fonts/atPowerCID.woff2") format("woff2"),
  url("../fonts/atPowerCID.woff") format("woff"),
  url("../fonts/atPowerCID.ttf") format("truetype"),
  url("../fonts/atPowerCID.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "atPowerCID";
    src: url("../fonts/atPowerCID.svg#atPowerCID") format("svg");
  }
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.powercid-icon-route:before,
.powercid-icon-handcart:before,
.powercid-icon-pie-chart:before,
.powercid-icon-unit:before,
.powercid-icon-web-design:before,
.powercid-icon-bug:before,
.powercid-icon-code-file:before,
.powercid-icon-25-:before,
.powercid-icon-dashboard:before,
.powercid-icon-service:before,
.powercid-icon-option:before,
.powercid-icon-clock:before,
.powercid-icon-process:before,
.powercid-icon-in-progress:before,
.powercid-icon-progressbar-95:before,
.powercid-icon-github:before,
.powercid-icon-link:before,
.powercid-icon-einstellungen:before,
.powercid-icon-vergangenheit:before,
.powercid-icon-conference-hintergrund-ausgew-hlte:before,
.powercid-icon-benutzer:before,
.icons8,
[data-icons8]:before {
  display: inline-block;
  font-family: "atPowerCID";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.powercid-icon-route:before {
  content: "\f100";
}
.powercid-icon-handcart:before {
  content: "\f102";
}
.powercid-icon-pie-chart:before {
  content: "\f105";
}
.powercid-icon-unit:before {
  content: "\f106";
}
.powercid-icon-web-design:before {
  content: "\f107";
}
.powercid-icon-bug:before {
  content: "\f108";
}
.powercid-icon-code-file:before {
  content: "\f109";
}
.powercid-icon-25-:before {
  content: "\f10a";
}
.powercid-icon-dashboard:before {
  content: "\f10b";
}
.powercid-icon-service:before {
  content: "\f10c";
}
.powercid-icon-option:before {
  content: "\f10d";
}
.powercid-icon-clock:before {
  content: "\f10e";
}
.powercid-icon-process:before {
  content: "\f10f";
}
.powercid-icon-in-progress:before {
  content: "\f110";
}
.powercid-icon-progressbar-95:before {
  content: "\f111";
}
.powercid-icon-github:before {
  content: "\f112";
}
.powercid-icon-link:before {
  content: "\f113";
}
.powercid-icon-einstellungen:before {
  content: "\f114";
}
.powercid-icon-vergangenheit:before {
  content: "\f115";
}
.powercid-icon-conference-hintergrund-ausgew-hlte:before {
  content: "\f116";
}
.powercid-icon-benutzer:before {
  content: "\f117";
}
